.annonce_part_1 {
  background-color: #e1ecff;
  height: 400px;
}

.annonce_part_2 {
  height: 2000px;
  position: relative;
  top: -80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 430px;
  margin: 0 auto;
}

.large {
  flex: 1;
  height: 100%;
  margin-right: 10px;
}

.large img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.small {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.first_row,
.second_row {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.first_row .right_img,
.first_row .left_img,
.second_row .right_img,
.second_row .left_img {
  width: 50%;
  height: 98%;
  border-radius: 8px;
  object-fit: cover;
}

.first_row .right_img,
.second_row .right_img {
  margin-right: 10px;
}

.annonce_content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
}

.title h1 {
  font-weight: bold;
  font-size: 35px;
}

.favBtn {
  background-color: #689bff;
  border-radius: 360px;
  border: none;
  height: 40px;
  width: 40px;
}

.favBtnActive {
  background-color: red;
  border-radius: 360px;
  border: none;
  height: 40px;
  width: 40px;
}

.notifBtn {
  background-color: #689bff;
  border-radius: 360px;
  border: none;
  height: 40px;
  width: 40px;
}

.notifBtnActive {
  background-color: #689bff;
  border-radius: 360px;
  border: none;
  height: 40px;
  width: 40px;
}


.title button:hover {
  cursor: pointer;
}

/* .title button:hover {
  animation: fadeBackground 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
} */

.title .img {
  display: flex;
  justify-content: center;
  align-item: center;
  margin: 0 auto;
}
.title img {
  height: 60%;
  width: 60%;
  object-fit: fit;
}

@keyframes fadeBackground {
  from {
    background-color: #689bff;
  }
  to {
    background-color: #4785ff;
  }
}

.annonce_content .first_row {
  height: 45px;
  width: 100%;
}

.annonce_content .second_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
}

.annonce_content .second_row .first_half {
  display: flex;
  flex-direciton: row;
  align-items: center;
  width: 40%;
}

.annonce_content .second_row .second_half {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

.annonce_content .second_row .first_half img {
  height: 25px;
  width: 25px;
  margin-right: 7px;
}

.annonce_content .second_row .first_half p {
  margin-right: 20px;
  font-size: 14px;
  opacity: 50%;
  font-weight: semi-bold;
}

.annonce_content .second_row .second_half a {
  text-decoration: underline;
  color: black;
}

p,
h1,
h2,
span {
  font-family: "Raleway";
}

.annonce_content .third_row {
  display: flex;
  width: 100%;
  height: 560px;
  margin: 0 auto;
  margin-top: 30px;
}

.annonce_content .third_row h2 {
  margin: 0;
  font-size: 28px;
}

.annonce_content .third_row .first_col {
  width: 70%;
  height: 100%;
}

.annonce_content .third_row .second_col {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.annonce_content .third_row .second_col .box {
  width: 90%;
  height: 45%;
  background-color: white;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.1),
    0px 5px 10px -3px rgba(0, 0, 0, 0.05), 0px 5px 15px 3px rgba(0, 0, 0, 0.15);
}

.third_row .first_col textarea {
  width: 95%;
  height: 80%;
  background-color: transparent;
  border: none;
  resize: none;
  margin-top: 20px;
  font-family: "Raleway";
  text-align: justify;
  white-space: normal;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  white-space: pre-line;
  margin-bottom: 15px;
  line-height: 30px;
}

.third_row .first_col button {
  color: #689bff;
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  margin-left: -4px;
  margin-bottom: 30px;
}

.third_row .first_col button:hover {
  color: #689bff;
  opacity: 80%;
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .content {
  height: 80%;
  flex-direction: column;
  width: 80%;
}

.price {
  display: flex;
  gap: 7px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.price .value {
  font-size: 30px;
}

.price .text {
  padding-top: 12px;
}

.checkin {
  display: flex;
  margin-bottom: 10px;
}

.date_one,
.date_two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkin input[type="date"] {
  height: 60px;
  border: 0.5px solid gray;
  outline: none;
  width: 100%;
  font-family: "Raleway";
  font-size: 13px;
}

.checkin input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 1em;
  font-size: 12px;
  margin-bottom: 0.5em;
}

.checkin input[type="date"]:focus:before,
.checkin input[type="date"]:valid:before {
  content: "";
}

.checkin input[type="date"]:first-of-type {
  border-radius: 8px 0 0px 8px;
}

.checkin input[type="date"]:last-of-type {
  border-radius: 0px 8px 8px 0px;
}

.box button {
  width: 100%;
  border-radius: 8px;
  height: 50px;
  border: none;
  background-color: #689bff;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.box button:hover {
  cursor: pointer;
  animation: fadeBackground 0.5s;
  animation-fill-mode: forwards;
}

.fourth_row .offre {
  width: 37%;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.1),
    0px 5px 10px -3px rgba(0, 0, 0, 0.05), 0px 5px 15px 3px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

.fourth_row  .offre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 35px;
}

.fourth_row  .offre img {
  height: 30px;
  widht: 30px;
  padding-right: 5px;
}

.first_col_offre .test {
  display: flex;
  align-content: center;
}

.third_row .offre {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 50%;
}

.fourth_row .offre .first_col_offre,
.fourth_row .offre .second_col_offre {
  display: flex;
  flex-direction: column;
}

.fourth_row .offre .first_col_offre {
  margin-right: 30px;
}

.fourth_row .offre .first_col_offre p,
.fourth_row .offre .second_col_offre p {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.autre_offre {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin-top: 20px;
}

.autre_offre img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 8px;
}

.autre_offre p {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  height: 5%;
}

.details_one img {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

.details_one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  widht: 100%;
  height: 10%;
}

.details_one p {
  font-size: 9px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.details_two {
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;
  padding-top: 10px;
}

.details_two p {
  font-size: 20px;
  width: 50%;
  height: 100%;
  color: #689bff;
}

.details_two span {
  font-size: 12px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #14ff64;
  border-radius: 2px;
  font-weight: bold;
  align-items: center;
  background-color: rgba(20, 255, 100, 0.2);
}

.fifth_row h2 {
  margin-bottom: -30px;
}

.fifth_row .adsArea {
  width: 100%;
  height: 100%;
  gap: 30px;
  padding-top: 30px;
  align-content: flex-start;
  display: flex;
}

.fifth_row {
  margin-bottom: 50px;
}


.fifth_row {
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.imgSection {
  width: 80%;
  margin-bottom: 30px;
}

.imgSection .slider-container {
  width: 100%;
  height: 100%;
}

.imgSection .slider {
  
}

.imgSection .dot {
	height: 15px;
	width: 15px;
	margin: 0 5px;
	border: 1px solid black;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.dot.active {
	background-color: rgba(255, 255, 255, 1);
}

.annonce_part_2 input[type="file"] {
  display: none
}
