* {
    margin: 0;
}
  
body {
    font-family: "Raleway";
    font-size: 15px;
    width:100%;
}
  
.section_liens {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E1ECFF;
    height: 550px;
    width:100%;
}

.bloc_liens {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    background-color: white;
    height: 300px;
    width:75%;
    padding: 2.5%;
    color: #252432;
    font-size: 20px;
}

.bloc_liens h1 {
    font-size: 40px;
}

.bloc_liens h1,
.bloc_liens h2,
.bloc_liens a {
    color: #252432;
}

.bloc_liens a {
    text-decoration: underline;
}

.section_pub {
    background-image: url('/dynamhaus/public/images/triangle.svg');
    height: 400px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.advert {
    display: flex;
    flex-direction: column;
    width:30%;
    justify-content:space-around;
    height: 70%;
}

.advert h1 {
    font-size: 40px;
}

.advert ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    font-weight:600;
}

.advert ul li {
    list-style:inside;
    margin-left: -39px;
}

.bouton_commencer {
    color: white;
    background-color: black;
    border-radius:10px;
    text-align: center;
    width: 10%;
    padding:1%;
    font-weight:bold;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5)
}

.bouton_commencer:hover {
    background-color: #252432;
}