.nav-bar {
	position: relative;
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

.logo {
	text-decoration: none;
	margin-right: auto;
	font-weight: 600;
	color:$mainColor;
	font-size: 15px;
}

.logo img {
	height: 35px;
	height: 35px;
}

.menu-toggler {
	left: 10px;
	top: 10px;
	opacity: 0;
	position: absolute;
	&:checked + .show-menu {
		span {
			background: transparent;
				
		}
		&:after {
			top: 9px;
			transform: rotate(45deg);
		}

		&:before {
			top: 9px;
			transform: rotate(-45deg);
		}
 	}
	&:checked ~ .nav{
		display: block;
		transform: translateX(0);
		background-color: rgb(104, 155, 255);
	}
	&:checked ~ .nav-bartml{
		overflow: hidden;
	}
}

.show-menu {
	width: 32px;
	height: 22px;
	display: flex;
	cursor: pointer;
	align-items: center;
	position: relative;
	justify-content: center;
	span, &:before, &:after{
			width: 100%;
			height: 4px;
			background: black;
			border-radius: 3px;
	}
	&:before, &:after{
		content: "";
		left: 0;
		position: absolute;
		transition: all 0.3s ease;
	}
	&:before{
		top: 0;
	}
	&:after{
		top: 18px;
	}
}

.nav {
	z-index: 1;
	right: 0;
	top: 70px;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	position: fixed;
	background: $mainColor;
	transition: all 0.3s ease;
	transform: translateX(100%);
	&__menu{
		list-style: none;
	}
	&__link{
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid rgba(#fff,0.2);
	}
}

.nav__item {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 80%;
	margin-top: 20px;
}

.nav img {
	height: 20px;
	width: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.sidenav a, .dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: none;
  background: none;
  width:80%;
  text-align: left;
  cursor: pointer;
  outline: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  font-size: 19px;
  padding: 0px 10px;
}

.active {
  color: white;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}