body {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

.container {
  margin: 0 auto;
}


.profile-header {
  display: flex;
  align-items: center;
  background: linear-gradient(1000deg, #8596B4, #a8c3f7);
  padding: 70px;
  border-radius: 0px;
  margin-bottom: 30px;
  margin-left: -15%;
  margin-right: -15%;

  color: rgb(81, 74, 74);
}

.profile-header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 3px solid white;
}

.profile-header h1 {
  font-size: 40px;
  font-weight: bold;
}


.account-section {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}

.account-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  margin-right: 110px;
 
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 150%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}


.ads-section {
  margin-top: 30px;
}

.ads-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.ads-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.ad-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ad-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.ad-card .ad-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.ad-card .ad-info h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.ad-card .ad-info .price {
  font-size: 18px;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 10px;
}

.ad-card .ad-info .btn-edit {
  padding: 10px;
  text-align: center;
  background: #007BFF;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.ad-card .ad-info .btn-edit:hover {
  background: #0056b3;
}

.Wrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.EnableBtn {
  position: absolute;
  bottom: 7px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  opacity: 100%;
  margin: 15px;
}

.EnableBtn:hover {
  opacity: 70%;
}

.EnableBtn img{
  width: 100%;
  margin-top: 60%;
  margin-left: 30%;
}
