* {
  font-family: "Raleway";
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.villeInput,
.addressInput {
  border-radius: 10px 0px 0px 10px;
  border: 2px solid white;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
  width: 200px;
  height: 93%;
}

.addressInput {
  width: 20%;
  border-radius: 0px;
  border-left: 0.5px solid #000000;
}

.villeInput {
  width: 20%;
}

.dateInput {
  border: 2px solid white;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
  width: 20%;
  border-left: 0.5px solid #000000;
  height: 100%;
}

input[type="date"] {
  border: 2px solid white;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
  border-left: 0.5px solid #000000;
  font-size: 13px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
  padding-right: 15px;
  opacity: 30%;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 1em;
  font-size: 12px;
  margin-bottom: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.budgetInput {
  height: 80px;
  border: 2px solid white;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
  width: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.budgetInput input {
  display: flex;
  border: 0px;
  border-left: 0.5px solid #000000;
}

.budgetInput input::-webkit-outer-spin-button,
.budgetInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.search_btn {
  height: 84px;
  width: 20%;
  outline: none;
  background-color: #689bff;
  border: 0px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  gap: 1px;
}

.search_btn:hover {
  background-color: #4584ff;
  cursor: pointer;
}

.search_btn img {
  height: 20px;
  width: 20px;
  margin: 0;
  object-fit: contain;
  padding-top: 3px;
  transform: scaleX(-1);
}

.search_btn p {
  font-size: 12px;
  color: white;
  font-weight: bold;
}
