.form-wrapper {
    width:30%;
    display:flex;
    flex-direction:column;
    gap:10px;
}
body {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow-y:hidden;
}
.form-content {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:10px;
}
.form-content div {
    width:100%;
    display:flex;
    justify-content:flex-end;
    gap:10px;
}
.form-content input {
    width:70%;
}
.form-wrapper .button-wrapper {
    display:flex;
    justify-content:center;
}
.form-wrapper .button-wrapper button {
    border-radius:50%;
    height:70px;
    width:70px;
    border:none;
    background-color:black;
    color:white;
    font-weight:bold;
}
.form-content span {
    display:none;
}