body {
  margin: 0;
	font-family: "Raleway";
  min-height: 100vh;
  position: relative;
}

.signupForm h1 {
  color: black;
	font-size: 35px;
	margin-bottom: 20px;
}

.signupForm h2 {
  color: black;
  font-size: 15px;
}

.signupForm hr {
  width: 100%;
  background-color: black;
  border: 1px solid black;
  opacity: 20%;
}

.signupForm .signupForm span {
  font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.signupForm  a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 5px;
  cursor: pointer;
}

.signupForm p {
  color: black;
  opacity: 40%;
  font-weight: thin;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reinBtn p {
  color: black;
  opacity: 40%;
  font-weight: thin;
  font-size: 13px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.userPage {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.formSection,
.imgSection,
.resetPassSection {
	height: 100%;
  width: 50%;
}

.resetPassSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.resetPassPage {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgSection img {
  width: 100%;
  object-fit: cover;
  flex: 1;
  height: 100%;
}

.formSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.signupForm {
	display: flex;
  flex-direction: column;
	width: 45%;
  align-items: flex-start;
}

.usernameParent {
	display: flex;
	width: 100%;
	gap: 30px;
}

.usernameChild {
	width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signupForm input {
	height: 45px;
	width: 100%;
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 0.5px solid black;
  outline: none;
	box-sizing: border-box;
}

.signinBtn {
  height: 45px;
	width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #689bff;
  color: white;
  font-weight: bold;
  outline: none;
	cursor: pointer;
	margin-top: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.signinBtn:hover {
  background-color: #6e9fff;
  cursor: pointer;
}

.oucontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
	width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.googleBtn {
  height: 45px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.googleLogo {
  height: 30px;
  width: 25px;
}

.regexArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.1em;
}

.regexArea p,
.errorMessage p {
  color: red;
  opacity: 100%;
}

.regexVer,
.errorMessageArea {
  display: flex;
  align-content: center;
  gap: 3px;
}

.regexVer img,
.errorMessage img {
  height: 12px;
  width: 12px;
}

.errorMessage {
  display: flex;
  margin: 0;
  gap: 5px;
  align-items: center;
  height: 1em;
  margin-bottom: 5px;
}

.signinBtnPara {
  width: 100%;
}

.signupBtnPara {
  width: 100%;
}

.passwordWrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.passwordToggleBtn {
  position: absolute;
  bottom: 7px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  opacity: 100%;
  margin: 15px;
}

.passwordToggleBtn:hover {
  opacity: 70%;
}

.googleBtn span, .googleBtn .spanbtn {
  text-decoration: none !important;
}

.alert {
  padding: 20px;
  background-color: rgb(105, 255, 172, 0.7);
  color: white;
  margin-bottom: 15px;
  top: 150px;
  width: 30%;
  position: absolute;
  border-radius: 15px;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@keyframes fadeInText {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}